@charset "utf-8";

// ----------------------------------------------------------------
// Import Compass for CSS3 mixins & Susy for the grid system
// ----------------------------------------------------------------
@import 'compass';
@import 'susy';

// ----------------------------------------------------------------
// Import Compass for CSS3 mixins & Susy for the grid system
// ----------------------------------------------------------------
@import 'compass';
@import 'susy';

// ----------------------------------------------------------------
// Global variables
// ----------------------------------------------------------------
// Set to true if you want to add support for IE6 and IE7
// Notice: setting to true might render some elements
// slightly differently than when set to false
$legacy-support-for-ie: false; // Used also in Compass
$svg-gradient-shim-threshold: 0.1; // Compass 1.0 base-64 gradient for IE9
$experimental-support-for-svg: true; // adds a base-64 svg for gradients in IE9

// ----------------------------------------------------------------
// Creates a baseline to help calculate a consistent
// rhythm vertical
// ----------------------------------------------------------------
$sub-baseline: 4px;
$baseline: $sub-baseline*3;

// ----------------------------------------------------------------
// Susy Grid
// ----------------------------------------------------------------
$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$show-grid      : false;

// --------------------------------------------------
// responsive breakpoints
// --------------------------------------------------
$breakpoints: (
  tiny      :   320px,
  small     :   480px,
  medium    :   600px,
  large     :   768px,
  huge      :   1080px,
  ginormous :   1400px
);

// ----------------------------------------------------------------
// Field / Form Variables
// ----------------------------------------------------------------
$field-height: $baseline*4;
$field-line-height: $field-height;
$label-width: $baseline*15;
$field-padding: $sub-baseline*2;

//---------------------------------------------------
// Colors
//---------------------------------------------------
// Blues
$dark-blue: #174f75;
$blue: #3a86a9;
$medium-blue: #6eb7ce;
$light-blue: #98d7e5;

// Yellows
$yellow: #ffba4d;
$light-yellow: #fcd683;

// Grays
$gray: #505050;
$light-gray: lighten(#505050, 40%);

// Text Colors
$body-color: $gray;
$heading-color: $blue;

//---------------------------------------------------
// Colors
//---------------------------------------------------
$primary-heading-font-size: 48px;
$secondary-heading-font-size: 24px;
$tertiary-heading-font-size: 18px;
$body-font-size: 18px;

//---------------------------------------------------
// Font Families
//---------------------------------------------------
$heading-font-family: Montserrat, Helvetica, Sans-Serif;
$body-font-family: "Droid Sans", Helvetica, Sans-Serif;
