section#nomination-categories
  .inner
    h2 Cool Innovation Award

    <script type="text/javascript" src="https://www.formstack.com/forms/js.php?1804958-tAsXeBrCRF-v3"></script><noscript><a href="https://www.formstack.com/forms/itsbspoke-bda_cool_innovation_award" title="Online Form">Online Form - BDA Cool Innovation Award</a></noscript>