footer role="contentinfo"
  .inner
    p <small>&copy; 2015 Blue Diamond, LLC. All rights reserved.</small> Follow <a href="http://www.twitter.com/IT_oLogy">@IT_oLogy</a> or email us at <a href="mailto:kay.read@it-ology.org">kay.read@it-ology.org</a>.
    p Presented by <a href="http://www.it-ology.org/en/CharlotteNC.aspx">IT-oLogy</a>. Find an error or want to add something? Pull requests are welcome over on <a href="https://github.com/bluediamondawards/blue-diamond-awards">GitHub</a>.
