// -----------------------------------------------------------------------------
// Thank You Sponsors
// -----------------------------------------------------------------------------

// Placeholders
// ----------------------------------------------------------------
.logoplaceholder {
  background-color: #efefef;
  width: 100%;
  height: 150px;
}

// space
// ----------------------------------------------------------------
.secsection {
  padding-top: 50px;
}
