<!-- Begin MailChimp Signup Form -->
<div id="subscribe">
<form action="http://itsbspoke.us2.list-manage.com/subscribe/post?u=8b4656bd4a093a3bcabfda08a&amp;id=fa3729a20a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <h2>Stay Updated</h2>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email@example.com" required>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_8b4656bd4a093a3bcabfda08a_fa3729a20a" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Get Updates" name="subscribe" id="mc-embedded-subscribe" class="button-primary"></div>
    <p class="social-links">You should follow us on <a href="http://www.twitter.com/IT_oLogy">Twitter</a> and like us on <a href="https://www.facebook.com/IToLogy">Facebook</a>.</p>
    <p>Tell the world <a href="https://www.facebook.com/events/558789820908542/">"I'm going to the Blue Diamond Awards"</a> on Facebook.</p>
</form>
</div>

<!--End mc_embed_signup-->
