---
title: Nominate a cool innovator
id: cool-innovator
layout: nomination
---

section#nomination-categories
  .inner
    h2 Cool Innovation Award

    Thanks for your nominations.  Finalists will be announced in January.
