---
title: Nominate a developer or recruiter
id: human-capital
layout: nomination
---

section#nomination-categories
  .inner
    h2 Human Capital Award

   Thanks for your nominations.  Finalists will be announced in January.

