section#nomination-categories
  .inner
    h2 IT Entrepreneur of the Year Award

    <script type="text/javascript" src="https://www.formstack.com/forms/js.php?1804975-tAsXeBrCRF-v3"></script><noscript><a href="https://www.formstack.com/forms/itsbspoke-bda_it_entrepreneur" title="Online Form">Online Form - BDA IT Entrepreneur Award</a></noscript>