---
title: Nominate an IT entrepreneur
id: it-entrepreneur
layout: nomination
---

section#nomination-categories
  .inner
    h2 IT Entrepreneur of the Year Award

    Thanks for your nominations.  Finalists will be announced in January.